form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 99%;
	// margin: 10px 0;
	height: 90.5vh;

	label {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	input {
		outline: none;
		margin: 5px;
		height: 20px;
		padding: 5px;
		width: 25%;
		border: 0.5px solid gray;
		border-radius: 20px;
	}

	input::placeholder {
		font-weight: bold;
		color: rgb(160, 158, 158);
		letter-spacing: 2px;;
	}

	input:focus {
		border: 0.5px solid navy;
	}

	p {
		margin: 5px;
	}

	h1 {
		margin: 5px;
	}

	.role {
		display: flex;
		width: 100%;
		justify-content: center;

		input[type="radio"] {
			width: 50px;
			text-transform: uppercase;
			-webkit-appearance: none;
			background-color: navy;
			transition: 0.4s ease;
			cursor: pointer;
			height: 40px;
			width: 180px;
            border-radius: 40px;
            color: rgb(80, 107, 179);
            font-weight: bold;
            display: flex;
			justify-content: center;
			
			&:hover {
				color: white;
			}
		}

		input[type="radio"]:checked {
            background-color: rgb(85, 169, 248);
			color: white;
			border: solid white 0.5px;
		}

		.fundraiser::before {
			content: "Fundraiser";
			font-size: 1.3rem;
			text-align: center;
		}

		.funder::before {
			content: "Funder";
			font-size: 1.3rem;
			text-align: center;
		}
	}

	select {
		background-color: navy;
		color: white;
		border: none;
		border-radius: 20px;
		padding: 5px 10px;
		margin: 5px;
	}

	.errors {
		color: red;
	}

	.inputs{
		input{
			width:100%;
		}
		
	}
}
