.fundraiser  {
    text-decoration: none;
    color: inherit;

    img {
        width: 500px;
        height: 300px;
        object-fit: cover;
    }
}

.full {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}