/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'Krona One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Krona One'), local('KronaOne-Regular'), url(https://fonts.gstatic.com/s/kronaone/v8/jAnEgHdjHcjgfIb1ZcUCMQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgo6eA.ttf) format('truetype');
}
* {
  font-family: 'Ubuntu', sans-serif;
}
body {
  font-family: 'Ubuntu', sans-serif;
  background: #0053df;
  background: linear-gradient(21deg, #0053df 0%, #b7ddff 57%, #ffffff 100%);
}
.dark {
  background: none;
  background-color: #2e2c2c;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Krona One', sans-serif;
}
.button {
  text-transform: uppercase;
  background-color: #01014b;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  width: 150px;
  text-align: center;
  letter-spacing: 1px;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav #logo {
  height: 70px;
}
nav {
  background-color: #121242;
  width: 100%;
  padding: 10px 0;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  margin-right: 5%;
}
#dashNav {
  z-index: 1;
  position: fixed;
  top: 0;
  margin-bottom: 10%;
}
#dashNav .signout {
  color: #f85151;
  cursor: pointer;
}
#darkMode {
  -webkit-appearance: none;
  background-color: #52b1ff;
  height: 20px;
  width: 40px;
  border-radius: 20px;
  transition: 0.4s ease;
  z-index: 3;
}
#darkMode:checked {
  background-color: #3030dd;
}
#darkMode::before {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
#darkMode:checked::before {
  transform: translateX(25px);
  transition: 0.4s ease;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 99%;
  height: 90.5vh;
}
form label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input {
  outline: none;
  margin: 5px;
  height: 20px;
  padding: 5px;
  width: 25%;
  border: 0.5px solid gray;
  border-radius: 20px;
}
form input::placeholder {
  font-weight: bold;
  color: #a09e9e;
  letter-spacing: 2px;
}
form input:focus {
  border: 0.5px solid navy;
}
form p {
  margin: 5px;
}
form h1 {
  margin: 5px;
}
form .role {
  display: flex;
  width: 100%;
  justify-content: center;
}
form .role input[type="radio"] {
  width: 50px;
  text-transform: uppercase;
  -webkit-appearance: none;
  background-color: navy;
  transition: 0.4s ease;
  cursor: pointer;
  height: 40px;
  width: 180px;
  border-radius: 40px;
  color: #506bb3;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
form .role input[type="radio"]:checked {
  background-color: #55a9f8;
  color: white;
  border: solid white 0.5px;
}
form .role .fundraiser::before {
  content: "Fundraiser";
  font-size: 1.3rem;
  text-align: center;
}
form .role .funder::before {
  content: "Funder";
  font-size: 1.3rem;
  text-align: center;
}
form .errors {
  color: red;
}
form .inputs input {
  width: 100%;
}
